.Blogs-Container{
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 60px;
    color: white;
    background-color: white;
}

.P1{
    font-size: 14px;
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    
}

.Blogs-Container p{
    line-height: 1.7;
    text-align: justify;
}

.Blogs-Heading{
    margin-bottom: 0;
}

.Blogs-Sub-Container{
    margin-top: 60px;
}


/* border: 1px solid rgba(255, 255, 255, 0.25); */


@media screen and (min-width: 900px){
    .Blogs-Container{
        padding-right: 130px;
    }

}




