
nav{
    transition: 100ms ease-in-out;
    background-color: #050F2C;
    height: 70px;
    position: fixed;
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid #00BCE440;
}

.Nav-Collapse{
    height: auto;
    transition: 100ms ease-in-out;
}

.Nav-Icon{
    height: 50px;
    margin: 12px 0 0 12px;
}

.Nav-Icon:hover{
    height: 50px;
    margin: 12px 0 0 12px;
    cursor: pointer;
}

.Nav-Items{
    list-style: none;
    overflow: auto;
}

.Nav-Items .Nav-Item{
    margin: 16px;
}


.Nav-Item a{
    text-decoration: none;
    color: white;
}

.Nav-Item a:hover{
    color: #00BCE4;
}

.Btn-Contact-Us{
    margin: 12px 12px;
    background-color: #00BCE4;
    color: #050F2C;
    padding: 8px 16px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    
}

.Btn-Toggle-Nav{
    float: right;
    margin: 16px 16px;
    background-color: #00BCE440;
    color: white;
    padding: 10px 16px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}



@media screen and (min-width: 900px){
    nav{
        width: calc(100% - 100px);
        /* width: 90%; */
    }

    .Nav-Items{
        float: right;
    }
    
    .Nav-Items .Nav-Item{
        margin: 12px;
        float: left;
    }
    
    
    .Btn-Contact-Us{
        margin: 6px 22px;
        background-color: #00BCE4;
        color: #050F2C;
        padding: 8px 16px;
        border-radius: 100px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        
    }


}