.Sidebar{
    background-color: #050F2C;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    z-index: 10;
    right: 0;
    width: 100px;
}
.Sidebar .Close{
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    /* transition-duration: 0.3s; */
    background: linear-gradient(149.27deg, rgba(0, 188, 228, 0.7) -6.57%, rgba(196, 196, 196, 0) 122.53%);
}


.Sidebar .Open{
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    right: 0;
    /* padding: 20px; */
    height: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    width: 100%;
    /* transition-duration: 0.3s; */
    background: linear-gradient(149.27deg, rgba(0, 188, 228, 0.7) -6.57%, rgba(196, 196, 196, 0) 122.53%);
}


.Sidebar .Open .Right-Panel{
    /* box-sizing: border-box;
    position: fixed;
    z-index: 10;
    right: 0;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    transition-duration: 0.3s;
    background: linear-gradient(149.27deg, rgba(0, 188, 228, 0.7) -6.57%, rgba(196, 196, 196, 0) 122.53%); */
    position: fixed;
    right: 0;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    transition-duration: 0.3s;
    background: linear-gradient(149.27deg, rgba(0, 188, 228, 0.7) -6.57%, rgba(196, 196, 196, 0) 122.53%);
}

.Sidebar button{
    margin: 0 auto;
    background-color: #050F2C;
    color: white;
    border-radius: 50%;
    border: 4px solid #00BCE4;
    cursor: pointer;
    height: 50px;
    width: 50px;
    text-align: center;
}
.Sidebar button img{
    width: 25px;
}



/* position: absolute;
width: 743px;
height: 576px;
left: 296px;
top: 0px;

background: linear-gradient(138.84deg, rgba(5, 15, 44, 0.84) -8.76%, rgba(5, 15, 44, 0) 163.6%);
border-radius: 24px 0px 0px 24px; */


/* .Sidebar-Open{
    position: fixed;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: red;
    transform: translateY(100%);
    transition: transform 1s ease-out;
}

 */
